<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item"><a class="nav-link" href="pdf/HJChenCV/HJChen-CV.pdf">CV</a></li>
  <li class="nav-item"><a class="nav-link" href="pdf/HJChenCV/HJChen-CV.html">CV (html)</a></li>
  <li class="nav-item"><a class="nav-link" href="BonusDepreciation.html">JMP</a></li>
  <li class="nav-item"><a class="nav-link" href="research.html">Research</a></li>
  <li class="nav-item"><a class="nav-link" href="teaching.html">Teaching</a></li>
  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
</ul>
<main>
