<div class="banner">
    <h1>
        <table border=0 width="100%" ID="Table2" style="margin: 0px;">
             <tr>
                 <td align="left">
                     <img src="pix/thefool.svg" alt="thefoolflip"/>
                 </td>
                 <td align="center">
                     Blog
                 </td>
                 <td align="right">
                     <img src="pix/thefool.svg" alt="thefool"/>
                     <!-- <input type="checkbox"> -->
                     <!-- <span class="check"></span> -->
                 </td>
             </tr>
        </table>
    </h1>
    <hr/>
</div>
<main>
