<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <!--<title>$PAGE_TITLE</title>-->
        <table border=0 width="100%" ID="Table2" style="margin: 0px;">
             <tr>
                 <td align="left">
                     <img src="pix/thefool.svg" alt="thefoolflip"/>
                 </td>
                 <td align="center">
                     $PAGE_TITLE
                 </td>
                 <td align="right">
                     <img src="pix/thefool.svg" alt="thefool"/>
                 </td>
             </tr>
        </table>
        <meta name="description" content="Hui-Jun Chen's Personal Website">
    </head>
<body>
