<div class="banner">
    <h1>
        <table border=0 width="100%" ID="Table2" style="margin: 0px;">
             <tr>
                 <td align="left">
                     <img src="pix/thefool.svg" alt="thefoolflip"/>
                 </td>
                 <td align="center">
                     $TITLE
                 </td>
                 <td align="right">
                     <img src="pix/thefool.svg" alt="thefool"/>
                 </td>
             </tr>
        </table>
        <!-- <img src="pix/thefool.svg" alt="thefoolflip"/> -->
        <!-- $TITLE -->
        <!-- <img src="pix/thefool.svg" alt="thefool"/> -->
    </h1>
    <hr/>
</div>

<p><i>Filtering tagged:</i> <b>$TAGS</b></p>
